<h1> Transactions page </h1>
<div>
    <% @budgets.each do |budget| %>
        <div>
            <h1> <%= budget[0] %> </h1>
            <h2> <%= budget[1] %> </h2>
        </div>
        <h2> <%= budget[2] %> </h2>
    <% end %>
</div>
<div>
    <%= link_to 'Add transaction' %>
</div>