*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    background-color: #F5F5F5;
}
.categories{
    background-color: #F5F5F5;
}
.title{
    padding-right: 30%;
}
nav{
    background-color: #3778c2
}
nav a{
    font-size: 1.5em;
}
img{
    height:100px;
    width: 100px;
}
.link{
    text-decoration: none;
}
.food{
    margin: 1px 10px;
    background-color: #fff;
}
.food h1{
    font-size: 1.5rem;

}
.food h2{
    padding-top: 1.3rem !important;
    font-size: 1.5rem;
    margin-right: 16px;

}
button a {
    color: #fff;
    text-decoration: none;
}
.button{
    margin-bottom: 1rem;
    background-color: #F5F5F5;
}